# Arquivos de ambiente
.env

# Diretórios de dependências
node_modules/

# Build
build/
dist/

# Arquivos de cache e logs
*.log
.cache
*.tmp

# Arquivos de configuração do sistema
.DS_Store

# Arquivos de configuração do editor
.idea/
.vscode/
